<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBxV-w28fvDi0Gqb4eiU6dMG3LH-x8JfSg</string>
	<key>GCM_SENDER_ID</key>
	<string>736202502215</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wiinalgeria.wiinz</string>
	<key>PROJECT_ID</key>
	<string>wiinz-app</string>
	<key>STORAGE_BUCKET</key>
	<string>wiinz-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:736202502215:ios:3588870a150f4f228a4162</string>
</dict>
</plist>
